#header {
  height: 50px;
  background: #6b52ae;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header span {
  color: #ffffff;
  margin-left: 10px;
}

#header a {
  color: #ffffff;
  margin-right: 10px;
}
